<div id="fires" class="tab-pane" role="tabpanel">
    <!-- Fires View (bound to FiresViewModel) -->
    <div class="section-heading">
        <h4 class="sub-header">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"
                  style="padding-right:5px;"></span>
            Fires
            <a class="section-toggle" data-toggle="collapse" href="#fires-body"></a>
        </h4>
    </div>
    <div id="fires-body" class="section-body collapse in">
        <!--JQuery FancyTree contents-->
        <div id="wildland-fire-tree"></div>
    </div>
</div>

<script type="text/html" id="wildland-fire-view-template">
    <!--
    Wildland Fire View Template
    This script renders the selected wildland fire object the info panel view model.
    -->
    <!-- ko if: $data -->
    <div id="wildland-fire-info" style="height: 100%;">
        <div class="col-lg-4 col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
								<h4 class="panel-title">Incident: <span data-bind="text: $data.name"></span></h4>                        
            </div>
            <div class="panel-body" style="padding: 0;" > 
								<dl class="dl-horizontal ">	
										<dt>Number:</dt>
										<dd data-bind="text: $data.number"></dd>	
										<dt>Cause:</dt>
										<dd data-bind="text: $data.fireCause"></dd>
										<dt>Status:</dt>
										<dd data-bind="text: $data.status"></dd>
										<dt>More Info:</dt>
										<dd class="ellipsis"><a data-bind="attr: { href: $data.hotlink }" target="_blank"><span data-bind="text: $data.hotlink"></span></a></dd>
								</dl>		
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Size</h4>
            </div>
            <div class="panel-body" style="padding: 0;" > 
							<table>
								<tr>
									<td>
										<!--Custom knockout binding-->
										<div id="wildfire-size-graph" data-bind="visualizeWildfireSize: $data"></div>
										<!--<span data-bind="text: Number($data.acres).toLocaleString()"></span> acres-->
									</td>
									<td>
										<!--Custom knockout binding-->
										<div id="percent-contained-graph" data-bind="visualizePercentContained: $data"></div>
									</td>
								</tr>
							</table>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dates</h4>
            </div>
            <div class="panel-body"style="padding: 0;" >
										<!--Custom knockout binding-->
										<div id="wildfire-dates-display" data-bind="visualizeWildfireDates: $data"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>  