<div id="fire-lookouts" class="panel panel-default">
    <!--This panel is to be appended to markers.html > markers-body element-->
    <div class="panel-heading">
        <h5 class="panel-title">
            <a data-toggle="collapse" href="#fire-lookouts-panel" aria-expanded="false"
               aria-controls="fire-lookouts-panel">
                Fire Lookouts<span class="badge pull-right" data-bind="text: lookoutCount"></span>
            </a>
        </h5>
    </div>
    <div class="panel-collapse collapse in" id="fire-lookouts-panel">
        <!-- Bind the list to the 'fireLookouts' observableArray -->
        <div data-bind="template: { name: 'fire-lookout-template', foreach: lookouts}"></div>
    </div>
</div>

<script type="text/html" id="fire-lookout-template">
    <!--
    Fire Lookout Template
    This script renders the individual fire lookout view model items in the Fires panel.
    -->
    <div class="btn-group btn-block">
        <button type="button" class="btn btn-default"
                style="display: block; width: 70%"
                data-bind="click: $root.gotoLookout">
            <span data-bind="text: $data.name"></span>
            <br/>
            <span data-bind="text: $data.location"></span>
        </button>
        <!-- Edit Button -->
        <button type="button" class="btn btn-default glyphicon glyphicon-pencil"
                data-bind="click: $data.open"></button>
        <!-- Delete Button -->
        <button type="button" class="btn btn-default glyphicon glyphicon-trash"
                data-bind="click: $data.remove"></button>
    </div>
</script>

<script type="text/html" id="fire-lookout-view-template">
    <!--
    Fire Lookout View Template
    This script renders the selected fire lookout object the info panel.
    -->
    <!-- ko if: $data -->
    <div id="fire-lookout-info" class="panel panel-default" style="height: 100%;">
        <div class="col-lg-6 col-md-6 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Wildfire Diamond</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Color</th>
                            <th>Intensity</th>
                            <th>Flames</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Blue</td>
                            <td>LOW</td>
                            <td>0-1’</td>
                            <td>Fire will burn and will spread however it presents very little resistance to control and direct attack with firefighters is possible.</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>MODERATE</td>
                            <td>1’-3’</td>
                            <td>Fire spreads rapidly presenting moderate resistance to control but can be countered with direct attack by firefighters.</td>
                        </tr>
                        <tr>
                            <td>Tan</td>
                            <td>ACTIVE</td>
                            <td>3’-7’</td>
                            <td>Fire spreads very rapidly presenting substantial resistance to control. Direct attack with firefighters must be supplemented with equipment and/or air support.</td>
                        </tr>
                        <tr>
                            <td>Magenta</td>
                            <td>VERY ACTIVE</td>
                            <td>7’-15’</td>
                            <td>Fire spreads very rapidly presenting extreme resistance to control. Indirect attack may be effective. Safety of firefighters in the area becomes a concern.</td>
                        </tr>
                        <tr>
                            <td>Red</td>
                            <td>EXTREME</td>
                            <td>&gt;15’</td>
                            <td>Fire spreads very rapidly presenting extreme resistance to control. Any form of attack will probably not be effective. Safety of firefighters in the area is of critical concern.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body" style="padding: 0;" >
                <div id="wildfire-diamond" data-bind="visualizeWildfireDiamond: $data"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4  col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Haul Chart</h4>
            </div>
            <div class="panel-body" style="padding: 0;" >
                <div id="haul-chart" data-bind="visualizeHaulChart: $data"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4  col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Wind Speed (Kts)</h4>
            </div>
            <div class="panel-body" style="padding: 0;" >
                <div id="wind-speed-graph" data-bind="visualizeWinds: $data"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Air Temperature (F)</h4>
            </div>
            <div class="panel-body" style="padding: 0;" > 
                <!--Custom knockout binding-->
                <div id="air-temperature-graph" data-bind="visualizeTemperature: $data"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Relative Humidity (%)</h4>
            </div>
            <div class="panel-body"style="padding: 0;" >
                <!--Custom knockout binding-->
                <div id="rel-humidity-graph" data-bind="visualizeHumidity: $data"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4  col-sm-6 panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Sky Cover (%)</h4>
            </div>
            <div class="panel-body" style="padding: 0;" >
                <div id="sky-cover-graph" data-bind="visualizeSkyCover: $data"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>  